<div class="container-fluid">
  <div class="container">
    <div class="col-xl-6 offset-xl-3 form-box">
      <h2>Registration Form</h2>

      <form action="" [formGroup]="registrationForm">
        <div class="form-group">
          <label for="">Username</label
          ><input
            [class.is-invalid]="userName.invalid && userName.touched"
            type="text"
            name=""
            id=""
            class="form-control"
            formControlName="userName"
          />
          <div *ngIf="userName.invalid && userName.touched">
            <small
              *ngIf="userName.errors?.required"
              class="text-danger"
              [class.d-none]="userName.valid || userName.untouched"
              >Username is required</small
            >
            <small
              *ngIf="userName.errors?.minlength"
              class="text-danger"
              [class.d-none]="userName.valid || userName.untouched"
              >Username must be atleast 3 characters.</small
            >
          </div>
        </div>
        <div class="form-group">
          <label for="">Password</label
          ><input
            type="password"
            name=""
            id=""
            class="form-control"
            formControlName="password"
            [class.is-invalid]="password.invalid && password.touched"
          />
          <div *ngIf="password.invalid && password.touched">
            <small
              class="text-danger"
              *ngIf="password.errors?.required"
              [class.d-none]="password.valid || password.untouched"
              >Password field is required</small
            >
            <small
              class="text-danger"
              *ngIf="password.errors?.minlength"
              [class.d-none]="password.valid || password.untouched"
              >Password - minlength should be 6 characters</small
            >
          </div>
        </div>
        <div class="form-group">
          <label for="">Confirm Password</label
          ><input
            type="password"
            name=""
            id=""
            class="form-control"
            formControlName="confirmPassword"
            [class.is-invalid]="
              confirmPassword.invalid && confirmPassword.touched
            "
          />
          <div *ngIf="confirmPassword.invalid && confirmPassword.touched">
            <small
              class="text-danger"
              *ngIf="confirmPassword.errors?.required"
              [class.d-none]="
                confirmPassword.valid || confirmPassword.untouched
              "
              >Confirm Password is required</small
            >
            <small
              class="text-danger"
              *ngIf="confirmPassword.errors?.minlength"
              [class.d-none]="
                confirmPassword.valid || confirmPassword.untouched
              "
              >Confirm Password field should be minimum of 6 digits</small
            >
          </div>
        </div>
        <div class="address-group" formGroupName="address">
          <div class="form-group">
            <label for="">City</label
            ><input
              type="text"
              name=""
              id=""
              class="form-control"
              formControlName="city"
            />
          </div>
          <div class="form-group">
            <label for="">State</label
            ><input
              type="text"
              name=""
              id=""
              class="form-control"
              formControlName="state"
            />
          </div>
          <div class="form-group">
            <label for="">Postal Code</label
            ><input
              type="text"
              name=""
              id=""
              class="form-control"
              formControlName="postalCode"
            />
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        <button
          class="btn btn-secondary ml-3"
          type="button"
          (click)="loadApiData()"
        >
          Load Data
        </button>
      </form>
    </div>
    {{ registrationForm.value | json }}
  </div>
</div>
